services:
    api:
        image: ghcr.io/engineer-man/piston
        container_name: piston_api
        restart: always
        privileged: true
        ports:
            - 2000:2000
        volumes:
            - ./data/piston/packages:/piston/packages
        environment:
            - PISTON_DISABLE_NETWORKING=false
            - PISTON_RUN_TIMEOUT=3000
            - PISTON_COMPILE_TIMEOUT=10000
            - PISTON_OUTPUT_MAX_SIZE=50000
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 2048M
        tmpfs:
            - /tmp:exec
